/* FONTS */
@font-face {
  font-family: 'NAVN PÅ FONT';
  src: url('LINK TIL FONT');
}

/* GENERAL ELEMENTS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-family: 'Helvetica',sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  -ms-scroll-snap-points-y: repeat(100vh);
}
h1, h2, h3, h4, h5, h6 {
  /* Add Necessary Design */

}
p {
  /* Add Necessary Design */
}
a {
  /* Add Necessary Design */
}

/* GENERAL CLASSES */
.centerObject {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.centerObject.fadedBox{
  background: rgba(0,0,0,0.4);
  padding: 15px 10px;
  border-radius: 15px;
}

/* SECTIONS */
section.fullPageSection {
  overflow: auto;
  width: 100%;
  height: 100%;
  background: #fff;
  scroll-snap-align: center;
  border-bottom: 1px solid #ccc;
}
section.fullPageSection.heroSection {
  padding-top: 100px;
}
section.fullPageSection .fullPageContent {
  width: 1200px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  /*padding: 0px 50px;*/
  display: flex;
}
section.fullPageSection .fullPageContent .contentCol {
  text-align: center;
  flex: 1;
  height: 100%;
  padding: 0 10px;
  /*padding-right:50px;*/
}
section.fullPageSection .fullPageContent .mediaCol {
  flex: 0 1 auto;
  height: 100%;
  width: 400px;
  position: relative;
  overflow: hidden;
}
section.fullPageSection .fullPageContent .mediaCol .media.mob {
  width: 300px;
  position: absolute;
  bottom: 0px;
}
section.fullPageSection .fullPageContent .mediaCol .fadeEffect {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 200px;
  background:linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);
}
.sectionTitle {
  font-weight: 700;
  font-size: 3em;
  color: #222;
}
.sectionTitle .inlineLogo {
  height: 0.8em;
}
.sectionText {
  font-family: 'Helvetica',sans-serif;
  font-weight: 100;
  line-height: 1.5;
  font-size: 21px;
  margin-top: 50px;
  padding: 0px 50px;
}
.sectionSubtitle {
  font-weight: 100;
  font-size: 1.5em;
  color: #333;
  margin-top:20px;
}
.btn {
  display: inline-block;
  width: 200px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 35px;
}
.btn.solid {
  background-color: #27ae60;
}
.btn.heroBtn {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: transparent;
  border-radius: 0;
  height: auto;
}
.btn.heroBtn img {
  width: 100%;
}
.btn.heroBtn:nth-child(1) {
  margin-right: 10px;
}

@media only screen and (max-width: 480px) {
  .btn.heroBtn:not(:nth-of-type(1)) {
    margin-top: 0;
  }
}

.fullPageSplit {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.fullPageSplit .contentCol, .fullPageSplit .mediaCol {
  float: left;
  height: 100%;
}
.fullPageSplit.ltr .contentCol, .fullPageSplit.ltr .mediaCol {
  float: right;
}
.fullPageSplit .contentCol {
  width: 50%;
  position: relative;
}
.fullPageSplit .contentCol .sectionTitle {
  color: #666;
  padding: 0px 50px;
  font-weight: 100;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;

}
.fullPageSplit .contentCol .sectionSubtitle {
  width: 100%;
  padding:0px 50px;
  color: #000;
  font-weight: 100;
}
.fullPageSplit .mediaCol {
  width: 50%;
  height: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
/* NAVBAR */
#topBar {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 999999;
  background-color: rgba(255,255,255,0.8);
}
#topBar .container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#topBar .container .navIcon {
  margin-right: auto;
  width: 200px;
}
#topBar .container .navItem {
  line-height: 80px;
  text-decoration: none;
  margin: 0 16px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: capitalize;
  opacity: 0.6;
}
#topBar .container .navItem.current {
  opacity: 1;
}
#topBar a:hover{
  transform: scale(1.2);
}
#topBar a{
    padding: 0 20px;
    transition: transform 0.4s cubic-bezier(.5,1.84,.6,.77);
}
@media only screen and (max-width: 630px) {
  #topBar .container {
    justify-content: center;
  }
  #topBar .container .navItem {
    margin: 0 5px;
  }
}
@media only screen and (max-width: 545px) {
  #topBar .container {
    justify-content: space-around;
  }
  #topBar .container .navIcon {
    display: none;
  }
  #topBar .container .navItem {
    margin: 0;
  }
  #topBar a{
    padding: 0;
  }
}
/* @media only screen and (max-width: 430px) {
  #topBar .container .navItem {
    margin: 0 5px;
    font-size: 13px;
    letter-spacing: 0px;
  }
} */

/*Jørgen sitt*/
#teacher{
  height: 200px;
  width: auto; 
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 3px 6px rgba(0,0,0,0.14), 0 2px 5px -6px rgba(0,0,0.2);
}
figure {
  margin-top: 30px;
  padding: 30px;
  position: relative;
}
figure::before {
  content: '';
  width: 50px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
figcaption {
  margin-top: 20px;
}
.pName {
  color: #2299dd;
  font-size: 22px;
}
.pTitle {
  color: #666;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
}
.pQuote {
  font-size: 26px;
  color: #555;
  font-weight: 100;
}

@media only screen and (max-width: 870px) {
  section.fullPageSection .fullPageContent .mediaCol {
    display: none;
  }
  section.fullPageSection .fullPageSplit {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
  }
  section.fullPageSection .fullPageSplit .contentCol {
    float: none;
    width: 100%;
    height: auto;
  }
  section.fullPageSection .fullPageSplit .contentCol .centerObject {
    top: auto;
    transform: none;
    padding: 30px 0;
  }
  .fullPageSplit .contentCol .sectionSubtitle {
    font-size: 18px;
  }
  section.fullPageSection .fullPageSplit .mediaCol {
    top: auto;
    transform: none;
    float: none;
    width: 100%;
    flex: 1;
  }
  section.fullPageSection .fullPageContent .contentCol .centerObject {
    top: auto;
    transform: none;
    padding-top: 100px;
  }
  section.fullPageSection .fullPageContent .contentCol .centerObject .sectionTitle {
    font-size: 2em;
  }
  section.fullPageSection .fullPageContent .contentCol .centerObject .sectionText {
    padding: 0px 20px;
    font-size: 16px;
  }
  section.fullPageSection.heroSection .fullPageContent .contentCol .centerObject {
    padding-top: 0px;
  }
  section.fullPageSection.heroSection .fullPageContent .contentCol .centerObject .sectionTitle {
    font-size: 3em;
  }
}